/*
Color codes: 
    background-color: #f5f5f5;
    #F2D8B3 - Peachy Beige
    #FBD266 - Yellow
    #8FB0A9 - Main Page Teal
    

    #D76735 - Burnt Orange

LOGO COLOR CODES:
    #fec58e - light oarnge
    #b9dea3 - light green
    #6ab79e - Appple teal (lightest)
    #54a496 - Preptastic teal (darker)
*/


/*Main Body Structure*/


html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

body
{   
    background-image: url(../images/background2.jpeg);
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    min-height: 100%;
}


  

#page-section
{
 
    width: 80%;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

#page-section h1{
  font-size: 5rem;
}

#page-section h2 {
    color: #D76735;
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
}

h2 {
  font-size: 50px;
}

#page-section h3 {
    color: #fec58e;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

p{
  font-size: 1.5rem;
}



/* Footer */
.footer {
    background-color: #8FB0A9;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px 10px;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  .footer a {
    color: #f5f5f5;
    text-decoration: underline;
  }
  
  .footer a:hover {
    text-decoration: none;
  }
  
  .footer-logo img {
    display: block;
    margin: 15px auto 0;
    width: 40px; /* Adjust size as needed */
    height: auto;
  }
  

/*navbar/Header*/

.navbar
{
background-color: #D76735;
width: 100%;
margin-bottom: 40px;
background-image: none;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

.navbar ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.navbar li {
float: right;
font-size: 40px;
}

.navbar li a {
color: #F2D8B3;
display: block;
text-align: center;
padding: 40px;
text-decoration: none;
font-size: 1.5rem;
  }

.navbar li :hover {
    background-color: #F2D8B3;
    color: #D76735;
}

header
{
  background-color: white;
}

.header img 
{
display: block;
margin: auto;
margin-bottom: 10px;
margin-top: 10px;
height: 100px;
width:auto;
}

#header-title 
{
  text-align: center;
  color: #54a496; 
  font-size: 5rem;
  margin-top: 50px;
}


/*basic styleing*/


hr {
    border: 1px solid #8FB0A9;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
  font-size: 1.5rem;
}

button {
    background: #8FB0A9;
    color: #f5f5f5;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    padding: 15px;
    margin: 15px;
    font-size: 2rem;
  }

button:hover{
    background: #F2D8B3;
    color: #D76735;
}



