/*
Color codes: 
    #F2D8B3 - Peachy Beige
    #FBD266 - Yellow
    #8FB0A9 - Light Teal
    #D76735 - Burnt Orange
*/

.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(255, 163, 92);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1000;
}

/* CSS FOR NAVBAR TEXT */
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    position: relative
}

.navbar ul a:hover {
    color: black;  
}

body
{
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}