/*
Color codes: 
    #F2D8B3 - Peachy Beige
    #FBD266 - Yellow
    #8FB0A9 - Light Teal
    #D76735 - Burnt Orange
*/

/*navbar/Header*/


.navbar{
background-color: #D76735;
width: 100%;
margin-bottom: 40px;

position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float: right;
}

li a {
color: #F2D8B3;
display: block;
text-align: center;
padding: 20px;
text-decoration: none;
  }

li :hover {
    background-color: #F2D8B3;
    color: #D76735;
}

.logo{
    display: flex;
    align-items: center;
}
img {
    height: 100px;
  }



/*
.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(255, 163, 92);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1000;
}
    

/* CSS FOR NAVBAR TEXT */
/*
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    position: relative
}

.navbar ul a:hover {
    color: black;  
}
*/

body
{
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}