 .arrows {
    width: 13.9%;
    margin: auto;
 }


.questions {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 50vh;
    padding: 20px 9% 80px;
    overflow: auto;
}

.contact {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}


p {
    font-size: 40px;
}


.contact a{
    color: #333;;
    text-decoration: underline;
}

.contact a:hover {
    color:#54a496;
    text-decoration: none;
  }

/* Accordion content */
.accordion {
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 5px;
}

.accordion-header {
    background-color: #d9e8e5;
    color: #54a496;
    padding: 0px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border: 3px solid #8FB0A9;
}

.accordion-content {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;  /* Adds padding when open */
    background-color: #d9e8e5;
    transition: max-height 1.03s ease; 
    color: #54a496;
    font-size: 40px;
}

/* .accordion-content.active {
    display: block; 
    padding: 10px; 
    max-height: 1000px;
} */

.accordion-header:hover{
    background-color:#d2d2d2;
}

.carousel-images {
    display:flex; 
    transition: transform 0.5s ease; 
    justify-content: center; 
    align-items: center; 
}

.carousel-images img {
    height: 550px;
     width: 650px;
    object-fit: contain;
    display: none;
    border: 5px solid black;
}

.carousel-images img.active 
{
    display: block; 
}

.prev {
    left: 0px;
}

.next {
    right: 100px; 
}

button {
    font-size: 40px;
}

@media (max-width: 850px) {
    
    .help_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }

    iframe {
        align-self: center;
    }
}
