label {
    display: block;
    margin-bottom: 10px;
  }

input[type="checkbox"]:checked + span {
    color: #8FB0A9;
    text-decoration: line-through;
  }

  .remove-btn {
    margin-left: 3px;
    padding: 1px 3px;
    background-color: #D76735;
    color: white;
    border: none;
    cursor: pointer;
    font-size: xx-small;

}

.remove-btn:hover {
    background-color: #8FB0A9;
}

#add-ingredient-btn {
  background-color: #D76735;
  color: white;
  border: none;
  cursor: pointer;
}

#add-ingredient-btn:hover {
  background-color: #8FB0A9;
}