label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 50%;
  padding: 0.5rem;

  background-color: #f5f5f5;
  color: #333;

  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 6px;
  border: 1px solid #8FB0A9;

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

input[type="text"] {

  width: 50%;
  padding: 0.5rem;

  background-color: #f5f5f5;
  color: #333;

  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 6px;
  border: 1px solid #8FB0A9;

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

input[type="checkbox"]:checked + span {
  color: #8FB0A9;
  text-decoration: line-through;
}

label.checked {
  text-decoration: line-through;
  color: #8FB0A9;
}

.remove-btn {
  margin-left: 3px;
  padding: 1px 3px;
  background-color: #D76735;
  color: white;
  border: none;
  cursor: pointer;
  font-size: xx-small;
}

.remove-btn:hover {
    background-color: #8FB0A9;
}

#add-ingredient-btn {
  background-color: #D76735;
  color: white;
  border: none;
  cursor: pointer;
}

#add-ingredient-btn:hover {
  background-color: #8FB0A9;
}