
/*Heads up this page is needed to override Bootsraps dang powerful css*/
/*Main Body Structure*/




html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}


.prep-body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}




/* Footer */
.prep-footer {
    background-color: #8FB0A9;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px 10px;

  }
  
  .prep-footer p{
       font-family: Arial, sans-serif;
    font-size: 1rem;
  }

  .prep-footer a {
    color: #f5f5f5;
    text-decoration: underline;
  }
  
  .prep-footer a:hover {
    text-decoration: none;
  }
  
  .prep-footer-logo img {
    display: block;
    margin: 15px auto 0;
    width: 40px; /* Adjust size as needed */
    height: auto;
  }
  

/*navbar/Header*/

.prep-navbar
{
background-color: #D76735;
width: 100%;
margin-bottom: 57px;
background-image: none;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
z-index: 20000;
}

.prep-navbar ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.prep-navbar li {
float: right;
font-size: 1.5rem;
}

.prep-navbar li a {
color: #F2D8B3;
display: block;
text-align: center;
padding-left: 40px;
padding-right: 40px;
padding-top: 35.5px;
padding-bottom: 35.5px;
text-decoration: none;
font-size: 1.5rem;
  }

.prep-navbar li :hover {
    background-color: #F2D8B3;
    color: #D76735;
}

header
{
  background-color: white;
}

.prep-header img 
{
display: block;
margin: auto;
margin-bottom: 10px;
margin-top: 10px;
height: 100px;
width:auto;
}

#prep-header-title 
{
  text-align: center;
  color: #54a496; 
  font-size: 5rem;
  margin-top: 50px;
}


